.main-layout {
  padding: 0 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .main-header {
    display: flex;
    justify-content: space-between;
    height: 50px;

    a {
      &:active,
      &:focus {
        background-color: rgb(1, 103, 172);
      }
      height: 100%;

      img {
        height: 100%;
      }

      &.auth-icon {
        align-self: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        .icon-signin,
        .icon-signout {
          align-self: center;
          background-size: cover;
          background-position: center;
          height: 20px;
          width: 20px;
        }

        .icon-signout {
          background-image: url(../../../assets/signout.svg);
        }

        .icon-signin {
          background-image: url(../../../assets/signin.svg);
        }
      }
    }
  }
}
