<div class="layout-container">
  <div class="player-photo left-photo">
    <img src="../../../assets/portrait-yellow.png" alt="" />
  </div>
  <div class="upcoming-event">
    <img src="../../../assets/logo-shadow.png" alt="" />
    <div class="fixture">
      <div class="team-name local"><span>HK Jaunes</span></div>
      VS
      <div class="team-name visitor"><span>HK Rouges</span></div>
    </div>
    <div class="event-date">Dimanche 21 Jan 2022</div>
    <div class="head-to-head">
      <div class="matches">
        <app-stat></app-stat>
        <app-stat></app-stat>
        <app-stat></app-stat>
      </div>
      <div class="goals">
        <app-stat></app-stat>
        <app-stat></app-stat>
      </div>
    </div>
  </div>
  <div class="player-photo right-photo">
    <img src="../../../assets/portrait.png" alt="" />
  </div>
</div>
