.layout-container {
  position: relative;
}

app-event-fixture {
  position: absolute;
  top: -65px;
  width: 100%;
}

app-fixture-history {
  display: inline-flex;
  margin-top: 130px;
  width: 100%;
}
