.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-body {
    margin-bottom: 20px;
    padding: 25px 30px 30px 30px;
    width: 100%;
    .greeting-txt {
      font-size: 30px;
    }
    .user-firstname {
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

app-next-event,
app-last-event,
app-top-scorers {
  width: 94%;
}
