.main-layout {
  display: flex;
  background-image: url("../../assets/shoes.png");
  background-color: black;
  background-size: contain;
  background-position-x: 110px;
  background-position-y: 25%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  app-login-form {
    width: 94%;
  }
}
