.main-layout {
  display: flex;
  background-color: white;
  background-image: url("../../assets/background.jpeg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .logo {
    display: flex;
    margin-bottom: 20px;
    img {
      height: 200px;
      width: 160px;
    }
  }

  form {
    height: 320px;
    width: 92%;

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .field {
        width: 90%;

        .control {
          width: 100%;
        }
      }
    }
  }
}
