@import "../../../../../main-styles.scss";

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .stat-title {
    color: $light-grey;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .stat-value {
    display: flex;
    justify-content: center;
    background-color: $light;
    font-size: 25px;
    font-weight: bold;

    border-radius: 7px;

    margin: auto;

    min-width: 40px;
    height: 40px;
  }
}
