<div class="content-pill-variable-main main-layout">
  <div class="bg-img content-pill-bg-ranking">
    <p class="head-to-head-title-font">TOP 3 Buteurs</p>
    <div class="fadeout-ends"><hr /></div>
    <div class="top-scorers-header">
      <div class="scorer-ranking-label">POS</div>
      <div class="scorer-description-label">BUTEUR</div>
      <div class="scorer-goals-number-label">BUTS</div>
    </div>
    <app-scorer></app-scorer>
    <app-scorer></app-scorer>
    <app-scorer></app-scorer>
  </div>
</div>
