.main-layout {
  margin-bottom: 90px;

  .bg-img {
    padding: 15px 15px 20px 15px;
    p {
      text-align: center;
    }
    .top-scorers-header {
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      margin-top: 15px;
      font-size: 12px;
      color: black;

      .scorer-ranking-label,
      .scorer-goals-number-label {
        width: 10%;
      }

      .scorer-description-label {
        flex-grow: 1;
      }
    }
  }
}
