<div class="content-pill-purple-bg layout-container">
  <div class="bg-img content-pill-bg-champions">
    <app-versus-team></app-versus-team>
    <div class="score-content">
      <div class="score">
        <div class="score-home">3</div>
        <div class="score-away">1</div>
      </div>
    </div>
    <div class="fadeout-ends"><hr /></div>
    <div class="scorers">
      <div class="home-goals">
        <ul>
          <li>
            <span class="name">Diego Marapapa</span>
            <span class="goal-badge"><i class="fa-solid fa-futbol"></i></span>
            <span class="goal-badge"><i class="fa-solid fa-futbol"></i></span>
          </li>
          <li>
            <span class="name">Le QI</span>
            <span class="goal-badge"><i class="fa-solid fa-futbol"></i></span>
          </li>
        </ul>
      </div>
      <div class="away-goals">
        <ul>
          <li>
            <span class="name">Boban</span>
            <span class="goal-badge"><i class="fa-solid fa-futbol"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
