<div class="layout-box">
  <div class="main-content">
    <div class="side-bar">
      <aside class="menu">
        <img src="../../../assets/logo.png" alt="" />
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li>
            <a
              routerLink="/accueil"
              routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-regular fa-building"></i>
                </span>
                <span class="icon-label">Accueil</span>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="./equipes" routerLinkActive="is-active">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-regular fa-user"></i>
                </span>
                <span class="icon-label">Equipes</span>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="./statistiques" routerLinkActive="is-active">
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-list-ol"></i>
                </span>
                <span class="icon-label">Statistiques</span>
              </span>
            </a>
          </li>
          <li>
            <a routerLink="./administration" routerLinkActive="is-active">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-regular fa-square-plus"></i>
                </span>
                <span class="icon-label">Administration</span>
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-regular fa-share-from-square"></i>
                </span>
                <span class="icon-label">Déconnexion</span>
              </span>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
