//Changing Bulma variables and adding global styles

@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #a59ad7;
$pink: #fe76c2;
$blue: #37c7f2;

$light-red: #fff3f3;
$light-blue: #f0f2fc;
$light-grey: #f5f7f9;
$light-grey-2: #e1e2e3;
$light-grey-3: #eceeef;
$light: #fafcff;
$dark: #9aa1a5;
$light-black: #1b2427;
$light-black-2: #282f33;
$light-purple: #2d76e4;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $blue;

// Update some of Bulma's component variables
$body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color: #f3f5fa;
$input-shadow: none;

$icon-text-spacing: 0.725rem;

$menu-item-color: $light-black-2;
$menu-item-radius: 10px;
$menu-item-hover-background-color: transparent;
$menu-item-hover-color: $light-purple;
$menu-item-active-color: $light-black;
$menu-item-active-background-color: $light-grey-3;

/* Global styles  */

html,
body {
  height: 100%;

  font-size: 18px !important;

  overflow: hidden !important;
}

.navbar {
  background-color: transparent;

  .navbar-menu {
    margin-left: 120px;
  }
}

.menu-list a {
  .icon-label {
    font-size: 16px;
  }

  .icon i {
    font-size: 20px;
  }
}

.is-active {
  .icon i {
    color: $light-purple;
  }

  .icon-label {
    font-weight: bold;
  }
}
